The three packages that you will almost always use as a data scientist are numpy, pandas, and matplotlib. Matplotlib is useful for making plots, numpy makes manipulating arrays much easier, and pandas is generally used for storing and manipulating data. At the top of your code you will want to import the three packages as we've done for you here:

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Predicting Car Prices and Wine Quality with Linear Regression

In this workshop, you're going to use what you learned about linear regression on some real world datasets. 

We'll start by doing some exploratory data analysis. Read in the data using pandas read_csv function and assigning it to a variable.

Show the first 5 rows of the data using pandas .head() method

In [18]:
df_train = pd.read_csv('car_prices_train.txt')
df_test = pd.read_csv('car_prices_test.txt')
df_train.head(5)

   horsepower   highway MPG         price
0       111.0          27.0   9310.750991
1       111.0          27.0  23843.283322
2       154.0          26.0  37464.419918
3       102.0          30.0    870.709466
4       115.0          22.0  17638.467488

In Python, most machine learning algorithms are already implemented for you in the SKLearn package; so implementing standard machine learning algorithms is something you do once (in a class like CS181) and never have to do again. 

For each machine learning algorithm you will generally use 3 methods:

1) Model.fit(X,Y): This trains the algorithm using your input data (X), and labels (Y)

2) Model.score(X,Y): This computes the R^2 score of your fitted model on data (X) and labels (Y)

3) Model.predict(X): This creates a new Y variable that is the prediction based on new input data (X)

From sklearn, we import LinearRegression:

In [5]:
from sklearn.linear_model import LinearRegression

Note that for some weird reason price has a space in front of it so keep that in mind

In [7]:
y = df_train[' price']
x = df_train.drop([' price'],axis=1)

In [8]:
LinReg = LinearRegression()
LinReg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, normalize=False)

In [9]:
LinReg.score(x,y)

0.2056070565604442

Well, this isn't very good. Let's see what happens with a more complex algorithm: Random Forests (which we'll get to next week)

In [10]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x,y)
rf.score(x,y)

0.63574584205488072

## **Task**: 

1) Plot the variables against price (using Matplotlib) and see what you notice. Which ones have strong correlation with the output variable?  

2) What do you think is the most important predictor? Perform single variable linear regression with that feature, and then add polynomial terms (We'll explain what this means)

3) Improve the performance of the linear regression model by using Ridge and Lasso regression and tuning the regularization paramater. The baseline performance is 0.2 so see if you can beat that. Feel free to research andother model and apply it.

In [11]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [14]:
df = pd.read_csv('dataset_2.txt')

In [105]:
df.head()

         x1        x2        x3        x4        x5         y
0  0.534830  0.233581  0.447433  0.967102  1.587361  4.471265
1  0.940499  0.974672  0.732063  0.795307  2.652863  5.377835
2  0.106522  0.660622  0.803072  0.982553  2.139901  4.708145
3  0.014652  0.513905  0.933434  0.500592  1.739034  4.032083
4  0.851990  0.737525  0.729370  0.817491  2.392881  5.116808

## Real life application: Wine Quality

Let's try working with a more complicated dataset. The data is separated by semicolons rather than commas, so keep in mind that we need to set delimiter = ';'

In [19]:
wine = pd.read_csv('wine_quality_red.csv', delimiter = ';')

In [20]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Our goal is to predict wine quality from these properties. Like single feature linear regression, multivariate linear regression fits a linear model mapping the feature vector $x = (x_1, x_2, ..., x_n)$ to the output $y$.

First, try predicting output using single features. Pick a couple of features that you think might be indicative of wine quality, and perform single variable linear regression to predict quality. Report on your accuracy.

Now, perform linear regression with all of the features. We will be explaining the theory behind this if you want, but for now just assume that our single variable model of linear regression extends to multiple variables. Report on this result, and compare it to the results obtained earlier. What do you find?